/* Set margin and padding to 0 because each browser has default values */
* {
    margin: 0;
    padding: 0;
    /*border: 2px solid red;*/
}


/* Set height to 100% to limit view to one page -> no scrolling */
html, body {
    height: 100%;
    background: linear-gradient(90deg, hsl(104, 28%, 40%) 0%, hsl(58, 28%, 40%) 100%);
}

body {
    font-family: "roboto", sans-serif;
}

/* Header */
.header {
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.5em;
}

/* Middle general*/
.game {
    height: 75%;
    color: white;
}

/* Middle top */

.game .top {
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5em;
}

.game .top-items {
    flex-grow: 1;
    padding-top: 1em;
}

/* Middle mid */

.game .mid {
    height: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.5em;
}

.game .mid .results {
    display: flex;
}

.game .mid .computer {
    display: flex;
}

/* Middle bottom */

.game .bottom {
    height: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* Footer */

.footer {
    height: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}